*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes entrada{
    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: translateY(0pc);
    }
}

:root{
    --icone: url("assets/imgs/moon-stars.svg");
    --cor-fundo: #fff;
}

.dark-mode{
    --icone: url("assets/imgs/sun.svg");
    --cor-fundo: rgba(0, 148, 115, 0.5);
}

body{
    background-color: var(--cor-fundo);
    transition: .3s ease-in;

    animation: entrada .4s ease-in;
}

.flex{
    display: flex;
}

[data-column]{
    flex-direction: column;
}

.dark{
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    padding: 3%;
    margin: 4%;
    border: none;
    outline: none;
    cursor: pointer;

    background: var(--icone) no-repeat;
    background-position: center;
    background-size: cover;
}

.principal{
    /* background: #6AE2B2; */
    gap: 35px;
    width: 100%;
    height: 1300px;
}

.conteudo{
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 5%;
}

.conteudo__perfil{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.perfil__apresentacao{
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.perfil__apresentacao img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4B9D7C;
    box-shadow: inset 0px 0px 2px #000000;
}

.perfil__apresentacao h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #1E1E1E;
}

.conteudo__texto{
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.conteudo__texto p{
    width: 400px;
    text-align: center;
    font-size: .9rem;
    line-height: 20px;
}

.conteudo__navigation{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
}

.navigation__links{
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navigation__links:nth-child(2){
    background-color: aliceblue;
}

.navigation__a{
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: #6EBD9D;
    width: 200px;
    height: 58px;
    border-radius: 0px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}


.navigation__a i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #225e46;
    width: 24px;
    height: 24px;
}

.navigation__a a{
    text-decoration: none;
    font-weight: 540;
    font-size: 18px;
    line-height: 17px;
    color: #225e46;
}

.folha{
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 450px;
}

.folha img{
    width: 94%;
    height: 550px;
    object-fit: cover;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.2));
}